@if(verfiyCodeFlag){
    <section class="mt-5 py-5">
        <div class="container mx-auto">
        <div class="flex flex-wrap justify-center">
          
    <form [formGroup]="resetcodeForm" (ngSubmit)="submitresetcodeForm()" class="w-1/2 ">
        <h1 class="text-3xl font-bold mb-2">Verfiy resetCode:</h1>
        @if (errmsg) {
          <div class=" bg-red-300 text-red-700 p-1 rounded-lg text-center">
          <p> {{errmsg}} </p>
          </div>
          }
    
    
      <div class=" mb-3 ">
          <label for="input1">Code :</label>
        <input  formControlName="resetCode"   type="text"     class="form-control   "   id="input1"   placeholder="" />
        @if(resetcodeForm.get("resetCode")?.touched && resetcodeForm.get("resetCode")?.invalid){
          <div class=" bg-red-300 text-red-700 p-1 rounded-lg">
            @if(resetcodeForm.get("resetCode")?.errors?.["required"] ){ <p>resetCode is required</p>}
            @if(resetcodeForm.get("resetCode")?.errors?.["pattern"] ){ <p>resetCode not valid </p>}
            </div>}
      </div>
    
        <button  [disabled]="resetcodeForm.invalid" [class.btn-main]="!resetcodeForm.invalid" [class.btn-disabled]="resetcodeForm.invalid" type="submit" class=" block ms-auto  "> 
          @if(isLoading){ <span><i class="fa fa-spinner fa-spin"></i></span>
       } @else{<span>verifyResetCode</span>} </button>
         
      </form>
    </div>
</div>
</section>
}
@else if(resetPasswordFlag){
    <app-new-password></app-new-password>
}