<div class="my-5  flex ">
    <div class="md: w-3/4 ">  <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>    <img  src="assets/images/slider-image-1.jpeg" class="w-full h-[400px] object-cover" alt="slider"> 
        </ng-template>  
        <ng-template carouselSlide>        <img src="assets/images/slider-image-2.jpeg" class="w-full h-[400px] object-cover" alt="slider"> 

        </ng-template>  
        <ng-template carouselSlide>    <img  src="assets/images/slider-image-3.jpeg" class="w-full h-[400px] object-cover" alt="slider"> 
        </ng-template>  
        <ng-template carouselSlide>    <img  src="assets/images/grocery-banner-2.jpeg" class="w-full h-[400px] object-cover" alt="slider"> 
        </ng-template> 
        <ng-template carouselSlide>    <img  src="assets/images/slider-2.jpeg" class="w-full h-[400px] object-cover" alt="slider"> 
        </ng-template> 
      </owl-carousel-o>  </div>
    <div class="md:w-1/4 ">
    <img  src="assets/images/slider-image-3.jpeg" class="w-full h-[200px] object-cover" alt="slider"> 
    <img src="assets/images/slider-image-2.jpeg" class="w-full h-[200px] object-cover" alt="slider"> </div>
    </div>

