


<section class="mt-5 py-5">
    <div class="container mx-auto">
    <div class="flex flex-wrap justify-center">
        <form [formGroup]="UpdateUserdataForm" (ngSubmit)="submitUpdateUserdataForm()" class="w-1/2 ">
          <h1 class="text-3xl font-bold mb-2">Update your data:</h1>
          @if (errmsg) {
            <div class=" bg-red-300 text-red-700 p-1 rounded-lg text-center">
            <p> {{errmsg}} </p>
            </div>
            }
            <div class=" mb-3">
                <label for="input3">Name:</label>
                <input  formControlName="name"  type="text"     class="form-control  "   id="input3"   placeholder="" />
                @if(UpdateUserdataForm.get("name")?.touched && UpdateUserdataForm.get("name")?.invalid){
                <div class=" bg-red-300 text-red-700 p-1 rounded-lg">
                  @if(UpdateUserdataForm.get("name")?.errors?.["required"] ){ <p>name is required</p>}
                  @if(UpdateUserdataForm.get("name")?.errors?.["minlength"] ){ <p>name min length : 3</p>}
                    @if(UpdateUserdataForm.get("name")?.errors?.["maxlength"] ){<p>name max length: 8</p>}
                    <!-- .get("formControlName") to get formControl object -->
                  </div>}
              </div>
    
        <div class=" mb-3 ">
            <label for="input1">Email :</label>
          <input  formControlName="email"   type="email"     class="form-control   "   id="input1"   placeholder="" />
          @if(UpdateUserdataForm.get("email")?.touched && UpdateUserdataForm.get("email")?.invalid){
            <div class=" bg-red-300 text-red-700 p-1 rounded-lg">
              @if(UpdateUserdataForm.get("email")?.errors?.["required"] ){ <p>email is required</p>}
              @if(UpdateUserdataForm.get("email")?.errors?.["email"] ){ <p>email not valid </p>}
              </div>}
        </div>

 
         
        
         
          <div class=" mb-3">
            <label for="input2">Phone:</label>
            <input formControlName="phone"   type="tel"     class="form-control  "   id="input2"   placeholder="" />
            @if(UpdateUserdataForm.get("phone")?.touched && UpdateUserdataForm.get("phone")?.invalid){
              <div class=" bg-red-300 text-red-700 p-1 rounded-lg">
                @if(UpdateUserdataForm.get("phone")?.errors?.["required"] ){ <p>phone is required</p>}
                @if(UpdateUserdataForm.get("phone")?.errors?.["pattern"] ){ <p>phone not valid </p>}
                </div>}
            
          </div> 
  
          <button  [disabled]="UpdateUserdataForm.invalid" [class.btn-main]="!UpdateUserdataForm.invalid" [class.btn-disabled]="UpdateUserdataForm.invalid" type="submit" class=" block ms-auto  "> 
            @if(isLoading){ <span><i class="fa fa-spinner fa-spin"></i></span>
         } @else{<span>update data</span>} </button>
           
        </form>

    </div>
    </div>
    </section>
    