
@if(forgetPasswordFlag){

<section class="mt-5 py-5">
    <div class="container mx-auto">
    <div class="flex flex-wrap justify-center">
      
        <form [formGroup]="forgetPasswordForm" (ngSubmit)="submitforgetPasswordForm()" class="w-1/2 ">
          <h1 class="text-3xl font-bold mb-2">forget Password:</h1>
          @if (errmsg) {
            <div class=" bg-red-300 text-red-700 p-1 rounded-lg text-center">
            <p> {{errmsg}} </p>
            </div>
            }
    
        <div class=" mb-3 ">
            <label for="input1">Email :</label>
          <input  formControlName="email"   type="email"     class="form-control   "   id="input1"   placeholder="" />
          @if(forgetPasswordForm.get("email")?.touched && forgetPasswordForm.get("email")?.invalid){
            <div class=" bg-red-300 text-red-700 p-1 rounded-lg">
              @if(forgetPasswordForm.get("email")?.errors?.["required"] ){ <p>email is required</p>}
              @if(forgetPasswordForm.get("email")?.errors?.["email"] ){ <p>email not valid </p>}
              </div>}
        </div>

 
         
    
          <button  [disabled]="forgetPasswordForm.invalid" [class.btn-main]="!forgetPasswordForm.invalid" [class.btn-disabled]="forgetPasswordForm.invalid" type="submit" class=" block ms-auto  "> 
            @if(isLoading){ <span><i class="fa fa-spinner fa-spin"></i></span>
         } @else{<span>send code</span>} </button>
           
        </form> 
        <!-- *********************************************************************************** -->
     

    </div>
    </div>
    </section>}
    @else if(verfiyCodeFlag){

        <app-verfiyresetcode></app-verfiyresetcode>
     }
