


<section class="mt-5 py-5">
    <div class="container mx-auto">
    <div class="flex flex-wrap justify-center">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="submitresetPasswordForm()" class="w-1/2 ">
          <h1 class="text-3xl font-bold mb-2">newPasswordForm:</h1>
          @if (errmsg) {
            <div class=" bg-red-300 text-red-700 p-1 rounded-lg text-center">
            <p> {{errmsg}} </p>
            </div>
            }
    
    
        <div class=" mb-3 ">
            <label for="input1">Email :</label>
          <input  formControlName="email"   type="email"     class="form-control   "   id="input1"   placeholder="" />
          @if(resetPasswordForm.get("email")?.touched && resetPasswordForm.get("email")?.invalid){
            <div class=" bg-red-300 text-red-700 p-1 rounded-lg">
              @if(resetPasswordForm.get("email")?.errors?.["required"] ){ <p>email is required</p>}
              @if(resetPasswordForm.get("email")?.errors?.["email"] ){ <p>email not valid </p>}
              </div>}
        </div>

 
         
          <div class=" mb-3">
            <label for="input4">newPassword:</label>
            <input   formControlName="newPassword" type="password"     class="form-control  "   id="input4"   placeholder="" />
            @if(resetPasswordForm.get("newPassword")?.touched && resetPasswordForm.get("newPassword")?.invalid){
              <div class=" bg-red-300 text-red-700 p-1 rounded-lg">
                @if(resetPasswordForm.get("newPassword")?.errors?.["required"] ){ <p>newPassword is required</p>}
                @if(resetPasswordForm.get("newPassword")?.errors?.["pattern"] ){ <p>newPassword not valid </p>}
                </div>}
          </div>


          <button  [disabled]="resetPasswordForm.invalid" [class.btn-main]="!resetPasswordForm.invalid" [class.btn-disabled]="resetPasswordForm.invalid" type="submit" class=" block ms-auto  "> 
            @if(isLoading){ <span><i class="fa fa-spinner fa-spin"></i></span>
         } @else{<span>login</span>} </button>
           
        </form>

    </div>
    </div>
    </section>
    