


<section class="mt-5 py-5">
    <div class="container mx-auto">
    <div class="flex flex-wrap justify-center">
        <form [formGroup]="UpdatePasswordForm" (ngSubmit)="submitUpdatePasswordForm()" class="w-1/2 ">
          <h1 class="text-3xl font-bold mb-2">Update password:</h1>
          @if (errmsg) {
            <div class=" bg-red-300 text-red-700 p-1 rounded-lg text-center">
            <p> {{errmsg}} </p>
            </div>
            }

    
            <div class=" mb-3">
                <label for="input4">currentPassword:</label>
                <input   formControlName="currentPassword" type="password"     class="form-control  "   id="input4"   placeholder="" />
                @if(UpdatePasswordForm.get("currentPassword")?.touched && UpdatePasswordForm.get("currentPassword")?.invalid){
                  <div class=" bg-red-300 text-red-700 p-1 rounded-lg">
                    @if(UpdatePasswordForm.get("currentPassword")?.errors?.["required"] ){ <p>currentPassword is required</p>}
                    @if(UpdatePasswordForm.get("currentPassword")?.errors?.["pattern"] ){ <p>currentPassword not valid </p>}
                    </div>}
              </div>
 
         
          <div class=" mb-3">
            <label for="input4">Password:</label>
            <input   formControlName="password" type="password"     class="form-control  "   id="input4"   placeholder="" />
            @if(UpdatePasswordForm.get("password")?.touched && UpdatePasswordForm.get("password")?.invalid){
              <div class=" bg-red-300 text-red-700 p-1 rounded-lg">
                @if(UpdatePasswordForm.get("password")?.errors?.["required"] ){ <p>password is required</p>}
                @if(UpdatePasswordForm.get("password")?.errors?.["pattern"] ){ <p>password not valid </p>}
                </div>}
          </div>
          <div class=" mb-3">
            <label for="input5">Repassword:</label>
            <input  formControlName="rePassword"  type="password"     class="form-control  "   id="input5"   placeholder="" />
            @if(UpdatePasswordForm.get("rePassword")?.touched && UpdatePasswordForm.get("rePassword")?.invalid){
              <div class=" bg-red-300 text-red-700 p-1 rounded-lg">
                @if(UpdatePasswordForm.get("rePassword")?.errors?.["required"] ){ <p>rePassword is required</p>}
                @if(UpdatePasswordForm.get("rePassword")?.errors?.["mismatch"] ){ <p>rePassword not match ppassword </p>}
                </div>}
          </div>

  
          <button  [disabled]="UpdatePasswordForm.invalid" [class.btn-main]="!UpdatePasswordForm.invalid" [class.btn-disabled]="UpdatePasswordForm.invalid" type="submit" class=" block ms-auto  "> 
            @if(isLoading){ <span><i class="fa fa-spinner fa-spin"></i></span>
         } @else{<span>update Password</span>} </button>
           
        </form>

    </div>
    </div>
    </section>
    