

<nav class="bg-gray-200 border-gray-200 dark:bg-gray-900">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      <a routerLink="/home" class="flex items-center   space-x-3 rtl:space-x-reverse">
          <img src="/assets/images/freshcart-logo.svg" class="h-8"  />
      </a>
      <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
      <div class="hidden w-full md:block md:w-auto" id="navbar-default">
        <ul class="font-medium flex flex-col  md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-2 rtl:space-x-reverse md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
          <li>
            <a routerLink="/home" routerLinkActive="bg-green-400 text-white "   class="block py-2 px-2 text-white rounded-lg  " aria-current="page">Home</a>
          </li>
          <li>
            <a routerLink="/brands" routerLinkActive="bg-green-400 text-white"  class="block py-2 px-2 text-gray-900 rounded-lg      ">brands</a>
          </li>
          <li>
            <a routerLink="/products" routerLinkActive="bg-green-400 text-white"  class="block py-2 px-2 text-gray-900 rounded-lg      ">products</a>
          </li>
          @if(islogin){
          <li>
            <a routerLink="/cart" routerLinkActive="bg-green-400 text-white"  class="block py-2 px-2 text-gray-900 rounded-lg      ">cart</a>
          </li>}

          <li>
            <a routerLink="/categories" routerLinkActive="bg-green-400 text-white"  class="block py-2 px-2 text-gray-900 rounded-lg      ">categories</a>
          </li>
   
        </ul>
      </div>
      <div class="hidden w-full md:block md:w-auto " id="navbar-default">
        <ul class="font-medium flex flex-col  md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-3 rtl:space-x-reverse md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
            <li class=" gap-x-4 items-center hidden lg:flex">
                <a href="#"><i class="fa fa-brands fa-facebook"></i></a> 
                <a href="#"><i class="fa fa-brands fa-github"></i></a>
                 <a href="#"><i class="fa fa-brands fa-youtube"></i></a> 
                 <a href="#"><i class="fa fa-brands fa-instagram"></i></a>
                  <a href="#"><i class="fa fa-brands fa-linkedin"></i></a>
    
                  </li>
       
@if(!islogin){ 
   <li>
  <a routerLink="/login" routerLinkActive="bg-green-400 text-white"  class="block py-2 px-2 text-gray-900 rounded-lg      ">login</a>
</li>
<li>
  <a routerLink="/register" routerLinkActive="bg-green-400 text-white"  class="block py-2 px-2 text-gray-900 rounded-lg      ">Register</a>
</li>
}
@if(islogin){
  <li class="relative inline-block text-left"> 
    <a  (click)="toggleDropdown()"   class="block py-2 px-1 text-gray-900 rounded-lg  cursor-pointer      ">{{userName}} <i class="text-green-400 fa-solid fa-user"></i></a>
    <div id="dropdown" [class.hidden]="toggleserchdropdpwn"  class=" absolute right-0 mt-2 w-48 bg-white border rounded-lg shadow-lg">
      <a  routerLink="/updatepassword" (click)=" toggleDropdown()" class="block px-4 py-2 text-gray-700 hover:bg-green-200"> <i class="fa-solid fa-arrows-rotate"></i> reset password </a>
      <a  routerLink="/updateUserData" (click)=" toggleDropdown()" class="block px-4 py-2 text-gray-700 hover:bg-green-200"> <i class="fa-solid fa-file-pen"></i> update your data </a>

  </div>
  </li>
  <li>
  <a  (click)="_authe.logout()" class="block py-2 px-1 text-gray-900 rounded-lg  cursor-pointer      ">logout <i class="fa-solid fa-right-from-bracket"></i></a>
</li>

}

        </ul>
      </div>

    </div>
  </nav>
  


