@if(Product){
    <div class="container mx-auto my-11">
        <div class=" grid  grid-cols-1   md:grid-cols-4   gap-5">
        
        <div>  
             <owl-carousel-o [options]="customOptions">
            @for( image of Product.images ; track $index){
            <ng-template carouselSlide >
              <img [src]="image"  class=" object-cover w-full">
            </ng-template>
        }
        </owl-carousel-o>
        </div>
        
        <div class="md:col-span-3 self-center">
            <h1 class="text-xl font-semibold my-3">{{Product.title}}</h1>
            <p class="text-gray-400 text-sm ">{{Product.description}}</p>
            <span class="  font-semibold text-green-400">{{Product.category.name}}</span>
            <div class="flex justify-between items-center">
            <span>{{Product.price}}EGP</span>
            <span><i class="fa fa-star text-yellow-300 "></i>{{Product.ratingsAverage}}</span>
            </div>
            <button class="btn-main my-3 w-full">+ add to cart</button>
        
        
        </div>
        
        </div>
        
        </div>
        
} @else {
    <div class="text-center mx-auto">
    <i class="fa-solid fa-spinner fa-spin-pulse text-3xl "></i> </div>
}